@import "tailwindcss";
@layer components {
  .bannerBg {
    position: relative;
  }
  .bannerBg::after {
    content: "";
    position: absolute;
    background-image: url("../public/shape.png");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    left: 0;
    bottom: 0;
  }
}
